riskvenv/
~$Risk.xlsx
application_test.csv
application_train.csv
bureau.csv
bureau_balance.csv
credit_card_balance.csv
HomeCredit_columns_description.csv
home-credit-default-risk.zip
installments_payments.csv
POS_CASH_balance.csv
previous_application.csv
train.csv
bureau.csv
install.csv
previous.csv
data.csv
bureau 24.csv
data 27.csv
install 26.csv
train 22.csv
train 23.csv
train 20.csv
previous 25.csv





